body {
  font-family: 'Poppins', Arial, sans-serif;
  text-align: center;
  background-color: #028fd5;
}

h1 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
}

.device-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  margin: 0 10px;
}

.device-box {
  position: relative;
  height: 120px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #0472a9;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 10px;
}

.device-box:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
}

/*
.device-name {
  font-size: 24px;
  margin-bottom: 5px;
}
*/
.device-input {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: white;
  width: calc(100% - 20px);
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 0px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.device-input:focus {
  border-color: #2196F3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.device-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
  margin-top:10px;
  margin-bottom: 10px;
  
}

.device-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.device-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d9d9d9;
  transition: 0.4s;
  border-radius: 24px;
}

.device-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.device-switch input:checked + .slider {
  background-color: #f38a21;
}

.device-switch input:checked + .slider:before {
  transform: translateX(30px);
}

.device-switch .slider.round:before {
  border-radius: 50%;
}


.sensor-connected {
  background-color: transparent;
}

.device-label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.device-icon {
  position: relative;
  top: -10px;
  left: 0;
  font-size: 30px;
}

@media (min-width: 768px) {
  .device-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .device-box {
    flex: 1 1 auto;
    max-width: 120px;
  }
}