/* Button and form styles */
.btn {
    margin: 5px;
  }

  body {
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
    background-color: #028fd5;
  }

  h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
  }

  
 /* Add New Rule Button */
.custom-add-new-rule-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid black;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 16px;
  }
  
  .custom-add-new-rule-button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
  }



 /* Add Input Device Button */
 .custom-add-input-device-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid black;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 12px;
  }
  
  .custom-add-input-device-button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.54);
  }

  
   /* Add Input Device Button */
 .custom-delete-input-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 2px; /* padding around the text */
    width: 100%;
    min-width: 60px;
    max-width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
    align-self: center;
  }
  
  .custom-delete-input-button:hover {
    box-shadow: 0px 0px 20px red;
  }


  .custom-submit-rule-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid black;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 14px;
    padding: 6px 12px;
  }
  
  .custom-submit-rule-button:hover {
    box-shadow: 0px 0px 20px rgb(56, 252, 7);
  }


  .delete-rule-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: transparent;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 2px; /* padding around the text */
    width: 100%;
    min-width: 60px;
    max-width: 60px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px; /* Add some spacing between the text and the button */
    align-self: center;
  }
  
  .delete-rule-button:hover {
    box-shadow: 0px 0px 20px red;
  }

  .rule-list-item {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    color: white;
    list-style-type: none; /* Remove the dot at the beginning */
    margin-bottom: 8px; /* Add some spacing between list items */
    font-weight: bold; /* Make the text bold, you can adjust this as needed */
  }



  #add-rule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
  }
  
  #add-rule-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }


  #inputDeviceWrapper,
  #logicOperatorWrapper,
  #outputWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .input-device-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .output-device-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  #addInputDeviceButton {
    align-self: flex-start;
  }
  
  select {
    max-width: 200px;
  }
  
  
  .input-device-select {
    background-color: transparent; /* background color */
    border: 2px solid white; /* border color and size */
    border-radius: 5px; /* rounded corners */
    color: white; /* text color */
    font-family: Arial, sans-serif; /* font */
    font-size: 12px; /* font size */
    padding: 5px 5px; /* padding around the text */
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  .input-device-option {
    background-color: transparent; /* background color */
    border: 2px solid white; /* border color and size */
    border-radius: 5px; /* rounded corners */
    color: white; /* text color */
    font-family: Arial, sans-serif; /* font */
    font-size: 12px; /* font size */
    padding: 5px 10px; /* padding around the text */
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  .output-select {
    background-color: transparent; /* background color */
    border: 2px solid white; /* border color and size */
    border-radius: 5px; /* rounded corners */
    color: white; /* text color */
    font-family: Arial, sans-serif; /* font */
    font-size: 12px; /* font size */
    padding: 5px 5px; /* padding around the text */
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .output-action-select {
    background-color: transparent; /* background color */
    border: 2px solid white; /* border color and size */
    border-radius: 5px; /* rounded corners */
    color: white; /* text color */
    font-family: Arial, sans-serif; /* font */
    font-size: 12px; /* font size */
    padding: 5px 10px; /* padding around the text */
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .logic-operator-select {
    background-color: transparent; /* background color */
    border: 2px solid white; /* border color and size */
    border-radius: 5px; /* rounded corners */
    color: white; /* text color */
    font-family: Arial, sans-serif; /* font */
    font-size: 12px; /* font size */
    padding: 5px 10px; /* padding around the text */
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: none; /* Hide dropwdown when the page is rendered first time */
  }

    /* Remove "Logic operation between inputs" text when the page is rendered first time */
  .logic-operator-select-text {
    display: none;
  }
  
  
  /* Change the text color of the dropdown menu */
  select:focus option, select:active option {
    color: #000000;
  }
  
 