html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: rgb(20, 92, 147);
    overflow-x: hidden;
    transition: all 0.3s;
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }

  .sidebar.collapsed {
    width: 0;
  }

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 8px 0;
  text-align: left;
}

.sidebar button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}

.sidebar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .group-button {
  font-size: 16px; /* Adjust the font size */
  font-weight: normal;
  color:whitesmoke;
  padding-top: 5px;
  text-indent: 10px;
  margin:0;
}

.sidebar .group-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.sidebar .scene-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}

.sidebar .scene-name {
  font-size: 16px;
  font-weight: normal;
  color: whitesmoke;
  padding-left: 10px;
 /* display: flex; 
  align-items: center;*/
}
.scene-name:hover {
  background-color: transparent; /* Change to your desired hover color */
}

.scene-button-container {
  display: flex;
  margin-right: 2px; /* Move buttons to the right */
}

.scene-play-button,
.scene-stop-button {
  padding: 2px;
  border: none !important;
  background: transparent !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene-play-button i,
.scene-stop-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: color 0.3s ease; /* Add transition for smooth effect */
}

.scene-play-button:hover i,
.scene-stop-button:hover i {
  color: black; /* Change icon color on hover */
}






.group-li {
  font-size: 16px; /* Adjust the font size */
  font-weight: normal;
  padding: 0; /* Adjust the padding */
  margin: 0; /* Remove any margin */
  text-indent: 15px; /* Add some indentation */
  
}




.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    transition: all 0.3s;
    padding-right: 50px; /* Add padding to the right to prevent overlap */
  }

.collapsed {
  transform: translateX(-100%);
}

.expanded {
  transform: translateX(0);
}

.sidebar-toggle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    z-index: 999;
    transition: all 0.3s;
  }

  
.sidebar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /*right: 0;*/
}


@media (max-width: 768px) {
    .sidebar {
      width: 250px; 
      transform: none; 
    }
  
    .collapsed {
      transform: translateX(-100%);
    }
  }



  .collapsed-desktop {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }

  @media (max-width: 768px) {
    .main-content {
      padding: 0; /* Remove the padding on mobile */
    }
  }