<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/sidebar.css?v=112341230001091231231199012312324" />
    <link rel="stylesheet" href="/static/master.css?v=14111401133111441123122375001" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/static/test.js"></script>
    <script>
      //Parse device_data rendered in WebServer.py to json file so it is acessible in .js files throuh deviceData
      const deviceData = JSON.parse('{{ device_data | tojson | safe }}'); 
      let ruleData = JSON.parse('{{ rule_data | tojson | safe }}'); 
    </script>
    
    <script type="module" src="/static/main.js"></script>
    <script type="module" src="/static/rules.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
   
  </head>
  <body>
<div id="wrapper">
  <button class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</button>
    <div class="sidebar collapsed" id="sidebar">
      <ul>
        <li><button onclick="navigate('dashboard')">Dashboard</button></li>
        <li><button onclick="navigate('groups')">Groups</button></li>
        <li><button onclick="navigate('if-this-then-this')">If This Then This</button></li>
      </ul>
    </div>
    
<div class="main-content expanded" id="main-content">


      <div id="dashboard">    
        <h1>Dashboard</h1>
        <div class="device-container">  

           {% for device_key, device in device_data.items() if device['type'] == 'output' %}
              <div class="device-box" data-id="{{ device['box_id'] }}">
                <div class="device-label">{{ device['gpio_id'] }}</div>
                <div class="device-top">
                  <div class="device-name">
                    <input class="device-input" type="text" placeholder="Enter name" id="{{ device_key }}-name" value="{{ device['name'] }}">
                  </div>
                  <div class="device-icon">
                    <i class="fas fa-lightbulb" style="color: #FFFFFF;"></i>
                  </div>
                  <label class="device-switch">
                    <input type="checkbox" id="{{ device_key }}-input">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            {% endfor %}

          
            {% for device_key, device in device_data.items() if device['type'] == 'input' %}
              <div class="device-box" data-id="{{ device['box_id'] }}">
                <div class="device-label">{{ device['gpio_id'] }}</div>
                <div class="device-top">
                  <div class="device-name">
                    <input class="device-input" type="text" placeholder="Enter name" id="{{ device_key }}-name" value="{{ device['name'] }}">
                  </div>
                  <div class="device-icon">
                    <i class="fa-solid fa-door-open" style="color: #FFFFFF;"></i>
                  </div>
                </div>
              </div>
            {% endfor %}


        </div>  
      </div>     

      <div id="groups" style="display:none;">
        <!-- Your Groups page code goes here -->
      </div>


      <!-- RULES -->
    <div id="if-this-then-this" class="tab-content" style="display:none;">
      <div id="rules">
        <h2>Rules</h2>
        <form id="add-rule-form">
          <label for="input">Input:</label>
          <select name="input" id="input">
            <!-- Input devices will be added via JavaScript -->
          </select>
          <label for="input_option">Option:</label>
          <select name="input_option" id="input_option">
            <!-- Input device options will be added via JavaScript -->
          </select>
          <label for="output">Output:</label>
          <select name="output" id="output">
            <!-- Output devices will be added via JavaScript -->
          </select>
          <label for="output_action">Output_action:</label>
          <select name="output_action" id="output_action">
            <!-- Output devices will be added via JavaScript -->
          </select>
          <button type="submit">Add Rule</button>
        </form>
        <h3>Current Rules:</h3>
        <ul id="rule-list">
          <!-- Rules will be added here via JavaScript -->
        </ul>
      </div>
</div>

      
</div>
</div>


<script src="/static/sortBoxes_handler.js"></script>
<script src="/static/sidebar_handler.js"></script>
  
</body>
</html>