<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/master.css?v=14421342381175001" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="/static/test.js"></script>
    <script type="module" src="/static/main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
   
  </head>
  <body>
    <h1>Dashboard</h1>
 
  <div class="device-container">  
    <div class="device-box" data-id="0"> 
      <div class="device-label">DO1</div>
        <div class="device-top">
          <div class="device-name">
            <input class="device-input" type="text" placeholder="Enter name" id="relay1-name" value="{{ device_names['relay1'] }}">
          </div>
          <div class="device-icon">
          <i class="fas fa-lightbulb" style="color: #FFFFFF;"></i>
          </div>
          <label class="device-switch">
          <input type="checkbox" id="relay1-input">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

      <div class="device-box" data-id="1"> 
        <div class="device-label">DO2</div>
          <div class="device-top">
            <div class="device-name">
              <input class="device-input" type="text" placeholder="Enter name" id="relay2-name" value="{{ device_names['relay2'] }}">
            </div>
            <div class="device-icon">
            <i class="fas fa-lightbulb" style="color: #FFFFFF;"></i>
            </div>
            <label class="device-switch">
            <input type="checkbox" id="relay2-input">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    
    <div class="device-box" data-id="2">
      <div class="device-label">DI1</div>
        <div class="device-top">
          <div class="device-name">
            <input class="device-input" type="text" placeholder="Enter name" id="sensor1-name" value="{{ device_names['sensor1'] }}">
          </div>
          <div class="device-icon">
            <i class="fa-solid fa-door-open" style="color: #FFFFFF;"></i>
          </div>
       </div>
    </div>

    <div class="device-box" data-id="3">
      <div class="device-label">DI2</div>
        <div class="device-top">
          <div class="device-name">
            <input class="device-input" type="text" placeholder="Enter name" id="sensor2-name" value="{{ device_names['sensor2'] }}">
          </div>
          <div class="device-icon">
            <i class="fa-solid fa-door-open" style="color: #FFFFFF;"></i>
          </div>
       </div>
    </div>

    <div class="device-box" data-id="4">
      <div class="device-label">DI3</div>
        <div class="device-top">
          <div class="device-name">
            <input class="device-input" type="text" placeholder="Enter name" id="sensor3-name" value="{{ device_names['sensor3'] }}">
          </div>
          <div class="device-icon">
            <i class="fa-solid fa-door-open" style="color: #FFFFFF;"></i>
          </div>
       </div>
    </div>

    <div class="device-box" data-id="5">
      <div class="device-label">DI4</div>
        <div class="device-top">
          <div class="device-name">
            <input class="device-input" type="text" placeholder="Enter name" id="sensor4-name" value="{{ device_names['sensor4'] }}">
          </div>
          <div class="device-icon">
            <i class="fa-solid fa-door-open" style="color: #FFFFFF;"></i>
          </div>
       </div>
    </div>
    <!-- add this after the device boxes -->
<!--<div class="sensor-relay-mapping">
  <select id="sensor-relay-mapping">
    <option value="none">Select Sensor-Relay Mapping</option>
    <option value="sensor1-relay1">Sensor 1 - Relay 1</option>
   
     add more options as needed... 
  </select>
</div>
-->

  </div>  

  <script> 
  const deviceContainer = document.querySelector('.device-container');
  const sortable = Sortable.create(deviceContainer, {
  animation: 150,
  delay: 100,
  delayOnTouchOnly: true,
  store: {
    get: function (sortable) {
      const order = localStorage.getItem('device-order');
      return order ? order.split('|') : [];
    },
    set: function (sortable) {
      const order = sortable.toArray();
      localStorage.setItem('device-order', order.join('|'));
    }
  }
});
  </script>
  
</body>
</html>